<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
        <title>Поиск</title>
    </head>
    <body>
        <table class="header-table">
            <tr>
                <td align="left" style="width: 10%">
                    <img class="image" src="{{url_for('static', filename='ssau.png')}}"/>
                </td>
                <td align="center" style="width: 65%">
                    <label class="header-text">Результаты поиска</label>
                </td>
                <td align="left" style="width: 25%">
                    <form action="/search" autocomplete="off">
                        <div class="container">
                            <div>
                                <input type="text" placeholder="Поиск..." name="search_data" required oninvalid="this.setCustomValidity('Введите номер группы или ФИО преподавателя')" oninput="setCustomValidity('')"/>
                            </div>
                            <div>
                                <input type="submit" value="Искать" style="margin-left: 6px"/>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        {% for staff, id in all_staff.items() %}
        <table class="staff_search_result-table">
            <tbody>
                <tr class="search_result-tr">
                    <td class="search_result-td">
                        <a href="/schedule/staff?staffId={{id}}" class="search-text">{{staff}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% for group, id in all_groups.items() %}
        <table class="groups_search_result-table">
            <tbody>
                <tr class="search_result-tr">
                    <td class="search_result-td">
                        <a href="/schedule/group?groupId={{id}}" class="search-text">{{group}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </body>
</html>