<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
        <title>Расписание - Самарский университет</title>
    </head>
    <body>
        <table class="header-table">
            <tr>
                <td align="left" style="width: 10%">
                    <img class="image" src="{{url_for('static', filename='ssau.png')}}"/>
                </td>
                <td align="center" style="width: 65%">
                    <label class="header-text">Квалификации</label>
                </td>
                <td align="left" style="width: 25%">
                    <form action="/search" autocomplete="off">
                        <div class="container">
                            <div>
                                <input type="text" placeholder="Поиск..." name="search_data" required oninvalid="this.setCustomValidity('Введите номер группы или ФИО преподавателя')" oninput="setCustomValidity('')"/>
                            </div>
                            <div>
                                <input type="submit" value="Искать" style="margin-left: 6px"/>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <label class="faculty-header">{{name}}</label>
        <table class="courses-table">
            <tr class="courses-tr">
                {% for course in courses %}
                <td class="courses-td" align="center" width="{{courses_length}}%">
                    <a href="/faculty?facultyId={{facultyId}}&course={{course[1]}}" class="course-text">{{course}}</a>
                </td>
                {% endfor %}
            </tr>
        </table>
        {% for dict in qualifications %}
            {% for qualification, info in dict.items() %}
            <div style="margin-top: 10px">
                <label class="qualification-text">{{qualification}}</label>
            </div>
                {% for pair in info %}
                <div>
                    <label class="education_form-text">{{pair[0]}}</label>
                </div>
                <table class="groups-table">
                    <tbody>
                        {% for group in pair[1] %}
                            {% for number, id in group.items() %}
                            <tr class="groups-tr">
                                <td class="groups-td" align="center">
                                    <a href="/schedule/group?groupId={{id}}" class="group_number-text">{{number}}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </body>
</html>