<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
        <title>Расписание - Самарский университет</title>
    </head>
    <body>
        <table class="header-table">
            <tr>
                <td align="left" style="width: 10%">
                    <img class="image" src="{{url_for('static', filename='ssau.png')}}"/>
                </td>
                <td align="center" style="width: 65%">
                    <label class="header-text">Институты и факультеты</label>
                </td>
                <td align="left" style="width: 25%">
                    <form action="/search" autocomplete="off">
                        <div class="container">
                            <div>
                                <input type="text" placeholder="Поиск..." name="search_data" required oninvalid="this.setCustomValidity('Введите номер группы или ФИО преподавателя')" oninput="setCustomValidity('')"/>
                            </div>
                            <div>
                                <input type="submit" value="Искать" style="margin-left: 6px"/>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <table class="faculty-table">
            {% for name, id in institutes_and_faculties.items() %}
            <tr class="faculty-tr">
                <td class="faculty-td">
                    <a class="faculty-text" href="/faculty?facultyId={{id}}&course=1">{{name}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>